@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
* {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.2;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes text-appear-reverse {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text-up {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes drop-down {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-150%);
  }
}
button {
  width: 190px;
  height: 45px;
  background-color: #508a3b;
  border: 2px solid #508a3b;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 1s;
  margin: 0 auto;
}

button:hover {
  background: #506a1c;
  transition: 0.5s all;
}

a {
  scroll-behavior: smooth;
}

/*header*/
.nav-menu, .popup-menu, .site-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu a, .popup-menu a, .site-anchors a, .popup-site-anchors a {
  text-decoration: none;
}

.author, .border, .specialty, .site-anchors a, .popup-site-anchors a {
  color: #508a3b;
}

.site-name {
  margin-right: 10px;
}

.site-name .author span {
  display: block;
}

.site-anchors li, .popup-site-anchors li {
  display: inline;
  list-style: none;
  margin-right: 5px;
}

.site-anchors a, .popup-site-anchors a {
  margin-right: 10px;
  transition: color 0.3s;
}

.site-anchors a:hover, .popup-site-anchors a:hover {
  color: #506a1c;
}

.popup-menu {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border: rgba(80, 106, 28, 0.4) 1px solid;
  border-radius: 10px;
  z-index: 50;
  animation: drop-down 0.5s ease forwards;
}

.popup-menu.active {
  visibility: visible;
}

.popup-menu.active.animation {
  animation: slide-up 0.5s ease forwards;
}

.burger, .popup-burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.burger span, .popup-burger span,
.burger::before, .burger::after,
.popup-burger::before, .popup-burger::after {
  background-color: #506a1c;
  height: 2px;
  transition: all 0.3s ease;
}

.burger span, .popup-burger span {
  width: 100%;
}

.burger::before, .burger::after, .popup-burger::before, .popup-burger::after {
  content: "";
  position: absolute;
  width: 100%;
}

.burger::before, .popup-burger::before {
  top: 0;
}

.burger::after, .popup-burger::after {
  bottom: 0;
}

.burger.active span, .popup-burger.active span {
  transform: scale(0);
}

.burger.active::before, .popup-burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after, .popup-burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.site-anchors.active, .popup-site-anchors.active {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  z-index: 50;
  padding: 40px;
  overflow-y: auto;
  white-space: normal;
}

.popup-site-anchors.active {
  width: 100svh;
  height: 100svh;
}

.site-anchors.active ul, .popup-site-anchors.active ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 0;
}

.author {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.border {
  font-size: 25px;
  margin: 0 10px;
}

.specialty span {
  font-size: 13px;
  display: block;
}

/* popup */
.popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none; /*Запрет на цель событий */
  transition: 0.5s all;
  z-index: 60;
}

.popup_bg.active {
  opacity: 1;
  pointer-events: all; /* Возвращаем события */
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /*Центрирование и масштабирование в 0 */
  background: #fff;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
  z-index: 70;
  border-radius: 20px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем */
  transition: 0.5s all;
}

.open-popup {
  margin-right: 50px;
}

.close-popup {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.popup .label_text {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
  border-bottom: 1px solid black;
}

.popup input:focus + .label__text {
  color: black;
}

.popup textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding-top: 5px;
}

.popup textarea:focus {
  border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
  color: #2982ff;
}

.popup-button {
  width: 200px;
  margin: 0 auto;
}

.messenger-selector {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #cfd0d3;
  padding-top: 5px;
  background-color: #fff;
}

.policy {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
}

.policy input {
  order: 1;
  margin-right: 10px;
}

.policy span {
  order: 2;
  padding-top: 25px;
  font-size: 14px;
}

/*section 1*/
.section-one-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
  height: 1080px;
}

.apple-gif {
  width: 5%;
  height: 600px;
  align-self: flex-end;
}

.apple-gif-container {
  width: 100%;
}

.apple-gif img {
  min-width: 95px;
  height: 110px;
  margin: 0 10px 60px 40px;
  border-radius: 20px;
}

.section-one-text {
  width: 50%;
}

.section-one-title {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.section-one-title h1 {
  font-size: 56px;
  font-weight: 400;
}

.section-one-title span {
  display: block;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-one-title-span-1 {
  margin-left: 20px;
}

.section-one-title-span-2 {
  color: #508a3b;
  font-style: italic;
  margin-left: 40px;
  position: relative;
  z-index: 2;
}

.section-one-title-span-3 {
  margin-left: -20px;
}

.section-one-title-span-4 {
  margin-left: 85px;
}

/* Анимация h1 */
.section-one-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-one-title-span-1.animation, .section-one-title-span-3.animation {
  animation: text-appear 9s linear forwards;
}

.section-one-title-span-2.animation, .section-one-title-span-4.animation {
  animation: text-appear-reverse 9s linear forwards;
}

.section-one-subtitle {
  margin: 50px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0;
}

.section-one-subtitle p {
  width: 500px;
  margin: 0 auto;
  text-align: justify;
}

.section-one-subtitle span {
  color: #506a1c;
  font-style: italic;
}

/* Анимация p */
.section-one-subtitle.animation {
  transition: 2s;
  animation: rise-up 1s ease 1s forwards;
}

.section-one-button-container {
  width: 55%;
  display: flex;
  margin: 0 auto;
}

.section-one-button-container a {
  margin: 0 auto;
}

/* Анимация button */
.section-one-button {
  opacity: 0;
}

.section-one-button.animation {
  animation: rise-up 1s ease 1s forwards;
}

.section-one-photo {
  width: 20%;
}

.section-one-photo img {
  width: 450px;
  height: 580px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

/*section 2*/
.section-two-container {
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.section-two-title {
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 50px 0 50px;
}

.section-two-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-two-title-1 {
  margin-left: -40px;
}

.section-two-title-2 {
  margin-left: 100px;
}

.section-two-title-3 {
  margin-left: 20px;
}

.section-two-title-2 span, .section-two-title-3 span {
  font-style: italic;
  color: #508a3b;
}

/*Анимация h2*/
.section-two-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-two-title-1.animation, .section-two-title-3.animation {
  animation: text-appear 8s linear forwards;
}

.section-two-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

/*Расстановка блоков*/
.section-two-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block-line-1 {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin: 10px 20px;
}

.block-line-2 {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 10px 0 10px;
}

.block-line-3 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0 20px;
}

.block-line-4 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 20px;
}

.block-line-5 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0 20px;
}

/*Блок основной*/
.block-common {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 250px;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.5);
  border: 1px solid #D3D3D3;
  border-radius: 30px;
  margin-right: 50px;
  flex-shrink: 0;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.block-common-text {
  width: 100%;
  margin: 50px auto;
  border-radius: 20px;
}

.block-common p {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #27221b;
}

.block-common-text p span {
  color: #908c84;
}

.block-common img, .block-common-gif {
  width: 90px;
  height: 75px;
  border-radius: 10px;
}

/*Широкий блок*/
.block-wide {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 275px;
  height: 250px;
  margin-right: 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.block-wide img {
  width: 275px;
  height: 250px;
  position: absolute;
  border-radius: 30px;
  z-index: 1;
}

.block-wide p {
  font-size: 16px;
  padding: 20px;
  margin: 0px 10px 10px 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 255px;
  z-index: 2;
}

.block-wide-text p span {
  color: #908c84;
}

/*section 3*/
.section-three-container {
  width: 100%;
  background-color: #f3f7ec;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 50px 0 50px 0;
}

.section-three-title {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 50px 0 50px;
}

.section-three-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-three-title-1 {
  margin-left: -40px;
}

.section-three-title-2 {
  margin-left: 100px;
}

.section-three-title-3 {
  margin-left: 20px;
}

.section-three-title-2 span, .section-three-title-3 span {
  font-style: italic;
  color: #508a3b;
}

/*Анимация h2*/
.section-three-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-three-title-1.animation, .section-three-title-3.animation {
  animation: text-appear 8s linear forwards;
}

.section-three-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

/*Карточки*/
.cards-container {
  width: 100%;
  margin: 0 auto;
}

:root {
  --cards: 6;
  --cardHeight: 22vh;
  --cardTopPadding: 1em;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 20px; /* Replace var(--cardMargin) with a fixed value */
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card5 {
  --index: 5;
}

#card6 {
  --index: 6;
}

.card {
  position: sticky;
  top: 0;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 1160px;
  height: 380px;
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: white;
}

#card3 .card-body,
#card5 .card-body {
  background-color: #dde3d6;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title h3 {
  font-size: 22px;
  font-weight: 300;
}

.card-text, .card-title {
  padding: 30px;
}

.card-text p {
  padding-right: 20px;
  font-size: 16px;
}

.card-info span {
  color: #908c84;
}

.card-photo-container {
  padding: 10px;
}

.card-photo {
  position: relative;
}

.card-photo img {
  width: 565px;
  height: 350px;
  border-radius: 30px;
  z-index: 1;
}

.hashtags {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

.hashtags div {
  background-color: white;
  color: #908c84;
  padding: 5px;
  margin-right: 5px;
  border-radius: 25px;
  font-size: 12px;
}

/*section 4*/
.section-four-container {
  background-color: #fffef5;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px 0 50px 0;
}

.section-four-title {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 50px 0 50px;
}

.section-four-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-four-title-1 {
  margin-left: -50px;
}

.section-four-title-2 {
  margin-left: 300px;
}

.section-four-title-1 span {
  color: #508a3b;
  font-style: italic;
}

/*Анимация h2*/
.section-four-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-four-title-1.animation {
  animation: text-appear 8s linear forwards;
}

.section-four-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

.section-four-button {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.consultation-info {
  width: 540px;
  margin: 0 auto;
  font-size: 16px;
  color: #908c84;
}

.section-four-button-container {
  margin: 20px auto;
}

.infoblock-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.infoblock-1, .infoblock-2, .infoblock-3 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 600px;
  margin-right: 50px;
  cursor: pointer;
}

.infoblock-photo {
  margin: 0 auto;
}

.infoblock-photo img {
  margin: 0 auto;
  width: 370px;
  height: 370px;
  border-radius: 30px;
}

.infoblock-title {
  padding: 20px;
  height: 56px;
}

.infoblock-title h3 {
  font-size: 22px;
  font-weight: 100;
  white-space: nowrap;
}

.infoblock-text {
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  color: #908c84;
}

.price, .price-popup {
  margin: 20px;
  padding: 20px 20px 10px 0;
  font-size: 18px;
  color: #506a1c;
  font-weight: 600;
}

.details {
  margin-top: 20px;
  color: #506a1c;
  text-decoration: underline;
  cursor: pointer;
}

/* Попап */
.section-four-popupBG-1, .section-four-popupBG-2, .section-four-popupBG-3 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
  background: #f3f7ec;
  opacity: 0; /*Cкрыть фон и попап */
  pointer-events: none; /*Запрет на цель событий */
  transition: 0.5s all;
  z-index: 60;
  display: flex;
  justify-content: center;
}

.section-four-popupBG-1.active, .section-four-popupBG-2.active, .section-four-popupBG-3.active { /* При добавлении класса 'active' */
  opacity: 1; /* Показываем фон и попап */
  pointer-events: all; /* Возвращаем события */
  transition: 0.5s all;
}

.section-four-popup-1, .section-four-popup-2, .section-four-popup-3 {
  width: 1240px;
  height: 100svh;
  padding: 25px;
  transition: 0.5s all;
  z-index: 70;
  display: flex;
  margin-top: 50px;
}

.section-four-popup-1.active, .section-four-popup-2.active, .section-four-popup-3.active {
  animation: text-up 5s linear forwards;
}

.popup-photo {
  margin-right: 50px;
}

.popup-photo img {
  margin: 0 auto;
  width: 560px;
  height: 560px;
  border-radius: 30px;
}

.popup-info {
  display: flex;
  flex-direction: column;
}

.popup-title {
  height: 40px;
}

.popup-title h3 {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}

.price-popup {
  margin: 20px 0 20px 0;
  padding: 0px;
}

.popup-list {
  padding: 20px 0 20px 0;
  font-size: 16px;
  color: #27221B;
}

.popup-list ul {
  padding-left: 10px;
}

.popup-list li {
  margin-top: 5px;
}

.popup-text {
  font-size: 16px;
  color: #27221B;
}

.popup-text ul {
  padding-left: 10px;
  list-style-type: decimal;
}

.popup-text li {
  margin-bottom: 10px;
  padding-left: 0;
}

.close-popup-1, .close-popup-2, .close-popup-3 {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.section-four-button-container button:hover {
  background-color: #40752c;
}

.button-container {
  width: 175px;
  margin: 20px auto;
}

.button-container-popup {
  width: 560px;
  margin: 20px 0;
}

/*section 5*/
.section-five-container {
  background-color: #f3f7ec;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.section-five-content {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.section-five-information, .section-five-img-container {
  margin: 50px 0 50px 0;
}

.section-five-information {
  margin-right: 70px;
}

.section-five-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.section-five-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-five-title-2 {
  text-align: right;
}

.section-five-title-3 {
  text-align: center;
}

.section-five-title {
  opacity: 0;
}

.section-five-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-five-title-1.animation, .section-five-title-3.animation {
  animation: text-appear 8s linear forwards;
}

.section-five-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

.section-five-title-3 span {
  color: #508a3b;
  font-style: italic;
}

.section-five-text {
  width: 550px;
  font-size: 17px;
  font-weight: 500;
  color: #908c84;
  text-align: justify;
  margin: 20px auto;
}

.section-five-text span {
  color: black;
}

.section-five-photo {
  width: 470px;
  height: 540px;
  margin: 0 auto;
}

.section-five-photo img {
  width: 470px;
  height: 540px;
  border-radius: 30px;
}

/*section 6*/
.section-six-container {
  background-color: #f5f5f5;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.section-six-title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
}

.section-six-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-six-title-1 {
  margin-left: -40px;
}

.section-six-title-2 {
  margin-left: 100px;
}

.section-six-title-2 span {
  color: #508a3b;
  font-style: italic;
}

.section-six-title-3 {
  margin-left: 20px;
}

.section-six-title {
  opacity: 0;
}

.section-six-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-six-title-1.animation, .section-six-title-3.animation {
  animation: text-appear 8s linear forwards;
}

.section-six-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

.blocks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 50px;
}

.textblock,
.photoblock {
  width: 370px;
  height: 280px;
}

.photoblock-container-1, .photoblock-container-2, .photoblock-container-3, .photoblock-container-4 {
  display: flex;
  height: 100%;
}

.photoblock-container-1 {
  justify-content: flex-end;
  align-items: flex-end;
}

.photoblock-container-2, .photoblock-container-3 {
  justify-content: flex-end;
}

.photoblock img {
  width: 115px;
  height: 90px;
  border-radius: 20px;
}

.photoblock-container-4 img {
  width: 370px;
  height: 280px;
}

.textblock {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: white solid 2px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.textblock-title {
  padding: 10px 0 20px;
}

.textblock-title h3 {
  font-size: 22px;
  font-weight: 500;
}

.textblock-info {
  padding: 40px 0 10px;
  font-size: 16px;
}

.textblock-info span {
  color: #908c84;
}

/*section 7*/
.section-seven-container {
  background-color: #fffef5;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
}

.section-seven-title {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 50px 0 50px;
}

.section-seven-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-seven-title-1 {
  margin-left: -50px;
}

.section-seven-title-2 {
  margin-left: 300px;
  color: #508a3b;
  font-style: italic;
}

.section-seven-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-seven-title-1.animation {
  animation: text-appear 8s linear forwards;
}

.section-seven-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

.section-seven-slider {
  padding: 50px 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section-seven-slider i img {
  width: 100%;
}

.section-seven-slider i {
  width: 32px;
  height: 32px;
  top: 5%;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.section-seven-slider i:hover {
  transform: translateY(-50%) scale(0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
}

.section-seven-container i:first-child {
  right: 340px;
}

.section-seven-container i:last-child {
  right: 300px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 38.4615384615%;
  cursor: pointer;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .comment {
  cursor: grab;
  user-select: none;
}

.comment-container {
  width: 550px;
  height: 300px;
  border-radius: 25px;
  background-color: #f3f7ec;
  margin: 0 50px 0 50px;
}

.user {
  display: flex;
  width: 490px;
  padding-top: 30px;
  margin: 0 auto;
}

.user-img, .user-img img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.user-info {
  margin: 0 0 10px 20px;
}

.comment-text {
  font-size: 17px;
  font-weight: 500;
  width: 470px;
  height: 150px;
  text-align: justify;
  margin: 0 auto;
}

.comment-text span {
  color: #908c84;
}

/*section 8*/
.section-eight-container {
  background-color: #fffef5;
  padding: 50px 0 50px;
}

.section-eight-title {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: 50px 0 50px;
}

.section-eight-title div {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.section-eight-title-1 {
  margin-left: -50px;
}

.section-eight-title-2 {
  margin-left: 300px;
  color: #508a3b;
  font-style: italic;
}

.section-eight-title.animation {
  opacity: 1;
  transition: 2s;
}

.section-eight-title-1.animation, .section-eight-title-3.animation {
  animation: text-appear 8s linear forwards;
}

.section-eight-title-2.animation {
  animation: text-appear-reverse 8s linear forwards;
}

.tab {
  width: 1100px;
  margin: 40px auto;
  position: relative;
  background: linear-gradient(135deg, #f3f7ec, #dce4d3);
  padding: 0 20px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.tab input {
  appearance: none;
}

.tab input:checked ~ label::after {
  transform: rotate(135deg);
}

.tab h4 {
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}

.tab:nth-child(1) h4, .tab:nth-child(2) h4, .tab:nth-child(3) h4, .tab:nth-child(4) h4, .tab:nth-child(5) h4, .tab:nth-child(6) h4 {
  background: linear-gradient(135deg, #f3f7ec, #dce4d3);
}

.tab input:checked ~ label h4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  justify-content: flex-end;
  padding: 20px;
}

.tab label h3 {
  position: relative;
  font-weight: 600;
  color: #333;
  z-index: 10;
}

.tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.tab:hover label::after {
  color: #333;
}

.tab-content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.tab input:checked ~ .tab-content {
  max-height: 100svh;
}

.tab-content p, .tab-content li {
  width: 1000px;
  position: relative;
  padding: 5px 0;
  color: #333;
  z-index: 10;
}

.tab input:checked ~ .tab-content p {
  color: black;
}

/*footer*/
.footer {
  background-color: #dde5d3;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 20px 0 20px;
}

.footer-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0 100px;
}

.footer-text {
  width: 280px;
  position: relative;
  margin-right: 50px;
}

.footer-text .footer-title {
  position: absolute;
  top: -40px;
  left: 100px;
}

.footer h2 {
  font-style: italic;
}

.footer-title div {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: -10px;
  white-space: nowrap;
}

.footer-title-1 {
  margin-left: -50px;
}

.footer-title-2 {
  margin-left: 100px;
  color: #508a3b;
  font-style: italic;
}

.gif-wrapper {
  width: 180px;
  height: 200px;
  margin: 20px 0;
}

.gif-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.footer-text .site-name {
  width: 180px;
}

.footer-menu {
  width: 280px;
}

.footer-menu h2, .footer-contacts h2, .footer-contacts address, .footer-contacts a {
  color: #40752c;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer-menu p {
  color: #508a3b;
  width: 270px;
  margin: 30px 0 20px;
}

.button-wrapper {
  width: 175px;
}

.footer-contacts {
  width: 280px;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 10px 5px;
  width: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.icon img {
  width: 100%;
}

.icon:hover {
  transform: scale(1.1);
}

.policies-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}

.policies {
  display: flex;
  flex-direction: row;
}

.footer a {
  color: #508a3b;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 900;
}

.line-wrapper {
  width: 90%;
  margin: 0 auto;
}

.line-wrapper hr {
  background-color: #40752c;
}

.privacy-policy {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}

.privacy-policy h1 {
  text-align: center;
}

.privacy-policy li {
  list-style: none;
}

@media (max-width: 1450px) {
  /*section 7*/
  .section-seven-title div {
    font-size: 36px;
  }
  .carousel {
    grid-auto-columns: calc(50% - 50px);
  }
}
@media (max-width: 1300px) {
  /*section 6*/
  .textblock-title h3 {
    font-size: 22px;
    font-weight: 500;
  }
  .textblock,
  .photoblock, .photoblock-container-4 img {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 1250px) {
  /*section 3*/
  .card-body {
    width: 860px;
    height: 380px;
  }
  .card-photo img {
    width: 415px;
    height: 320px;
    border-radius: 40px;
  }
  /*section 4*/
  .infoblock-1, .infoblock-2, .infoblock-3 {
    width: 250px;
  }
  .infoblock-photo img {
    width: 220px;
    height: 220px;
  }
  .infoblock-title h3 {
    font-size: 16px;
    font-weight: 400;
  }
  .popup-photo img {
    width: 460px;
    height: 460px;
  }
  /*section 7*/
  .comment-container {
    width: 330px;
    height: 400px;
    padding: 20px;
  }
  .user {
    width: 290px;
    padding-top: 0;
  }
  .user-info {
    margin: 0 0 0 10px;
  }
  .comment-text {
    width: 280px;
  }
  .carousel {
    grid-auto-columns: 37.037037037%;
  }
  /*section 8*/
  .tab {
    width: 900px;
  }
  .tab-content p, .tab-content li {
    width: 800px;
  }
  /*footer*/
  .footer-title div {
    font-size: 24px;
  }
}
@media (max-width: 1050px) {
  /* Show the burger menus and hide the site anchors by default */
  .burger, .popup-burger {
    display: flex;
  }
  .site-anchors, .popup-site-anchors {
    display: none;
  }
  /*section 1*/
  .section-one-container {
    flex-direction: column;
    margin: 60px 0px 60px 0px;
  }
  .apple-gif {
    width: 100%;
    height: 100px;
  }
  .apple-gif-container {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }
  .apple-gif img {
    width: 85px;
    height: 100px;
    margin: 0 10px 20px 0;
  }
  .section-one-text,
  .section-one-button {
    width: 100%;
    margin: 20px 0;
  }
  .section-one-title h1 {
    font-size: 34px;
  }
  .section-one-title-span-1 {
    margin-left: 30px;
  }
  .section-one-title-span-2 {
    margin-left: 100px;
  }
  .section-one-title-span-3 {
    margin-left: -20px;
  }
  .section-one-title-span-4 {
    margin-left: 85px;
  }
  .section-one-subtitle {
    max-width: 600px;
    font-size: 18px;
    margin: 30px auto;
  }
  .section-one-subtitle p {
    margin: 0 auto;
  }
  .anchor-button {
    margin: 0 auto;
  }
  .section-one-photo {
    display: flex;
    width: 100%;
    margin: 10px 0;
  }
  .section-one-photo img {
    width: 480px;
    height: 510px;
    margin: 0 auto;
  }
  /*section 2*/
  .section-two-title {
    padding: 30px 0 30px;
  }
  .section-two-title div {
    font-size: 28px;
    margin-bottom: 0;
  }
  .section-two-title-1 {
    margin-left: 20px;
  }
  .section-two-title-2 {
    margin-left: 90px;
  }
  .section-two-title-3 {
    margin-left: 40px;
  }
  .block-line-1, .block-line-2 {
    margin: 10px auto;
    padding-left: 0px;
  }
  .block-line-3, .block-line-4, .block-line-5 {
    justify-content: center;
  }
  /*section 3*/
  .section-three-title div {
    font-size: 28px;
    margin-bottom: 0;
  }
  .section-three-title-1 {
    margin-left: 20px;
  }
  .section-three-title-2 {
    margin-left: 90px;
  }
  .section-three-title-3 {
    margin-left: 40px;
  }
  /*section 4*/
  .section-four-popup-1, .section-four-popup-2, .section-four-popup-3 {
    flex-direction: column;
  }
  .popup-photo {
    margin: 0 auto;
  }
  .popup-photo img {
    width: 560px;
    height: 560px;
  }
  .popup-info {
    display: flex;
    justify-content: flex-start;
  }
  .popup-title, .price-popup, .popup-list, .popup-text {
    width: 560px;
    margin: 10px auto;
    text-align: left;
  }
  .popup-list {
    padding: 0;
  }
  .section-four-popup-1 .button-container, .section-four-popup-2 .button-container, .section-four-popup-3 .button-container {
    width: 560px;
    margin: 0 auto;
  }
  .button-container-popup {
    margin: 20px auto;
  }
  /*section 5*/
  .section-five-container {
    border-radius: 0;
  }
  .section-five-information {
    margin-right: 50px;
  }
  .section-five-content {
    flex-direction: column;
  }
  .section-five-photo, .section-five-photo img {
    width: 420px;
    height: 480px;
  }
  .section-five-information, .section-five-img-container {
    margin: 20px 10px 20px 0;
  }
  /*section 6*/
  .blocks-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-six-title div {
    font-size: 36px;
  }
  /*section 8*/
  .section-eight-title {
    padding: 50px 0 30px;
  }
  .section-eight-title div {
    font-size: 42px;
    text-align: center;
    margin-bottom: -10px;
  }
  .section-eight-title-1 {
    margin-left: 0px;
  }
  .section-eight-title-2 {
    margin-left: 0px;
  }
  .tab {
    width: 600px;
  }
  .tab-content p, .tab-content li {
    width: 500px;
  }
  /*footer*/
  .footer-text .footer-title {
    top: -80px;
    left: 60px;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  /*section 3*/
  .card-body {
    width: 700px;
    height: 320px;
  }
  .card-photo img {
    width: 320px;
    height: 260px;
  }
  /*section 7*/
  .carousel {
    grid-auto-columns: 50%;
  }
}
@media (max-width: 725px) {
  /*section 6*/
  .section-six-title div {
    font-size: 28px;
  }
  .blocks-container {
    grid-template-columns: 1fr;
  }
  .textblock, .photoblock {
    margin: 0 auto;
  }
  .photoblock-container-1 img, .photoblock-container-2 img, .photoblock-container-3 img, .photoblock-container-4 img {
    width: 280px;
    height: 280px;
    border: 2px solid white;
    margin: 0 auto;
  }
  /*section 7*/
  .carousel {
    grid-auto-columns: 60%;
  }
  /*footer*/
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-menu, .footer-text, .footer-contacts {
    margin: 10px auto;
  }
}
@media (max-width: 660px) {
  /*section 1*/
  .section-one-container {
    margin: 20px 0px 20px 0px;
  }
  .apple-gif {
    height: 100px;
  }
  .apple-gif img {
    width: 75px;
    height: 90px;
    margin-top: 70px;
  }
  .section-one-title span {
    margin-bottom: 0;
  }
  .section-one-title-span-1 {
    margin-left: 0;
  }
  .section-one-title-span-2, .section-one-title-span-3 {
    margin-left: 10px;
  }
  .section-one-title-span-4 {
    margin-left: 50px;
  }
  .section-one-title h1 {
    font-size: 22px;
    font-weight: 400;
  }
  .section-one-subtitle {
    margin: 20px auto;
  }
  .section-one-subtitle p {
    font-size: 16px;
    width: 100%;
    margin: 10px auto;
  }
  .section-one-photo {
    margin: 10px auto;
  }
  .section-one-photo img {
    width: 315px;
    height: 340px;
  }
  /*section 2*/
  .section-two-title div {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
  }
  .section-two-title-1 {
    margin-left: 0px;
  }
  .section-two-title-2 {
    margin-left: 0px;
  }
  .section-two-title-3 {
    margin-left: 0px;
  }
  .block-common {
    margin-right: 0px;
    margin: 20px auto;
  }
  .block-line-1, .block-line-3, .block-line-4, .block-line-5 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }
  .block-wide {
    margin: 0 auto;
  }
  /*section 3*/
  .section-three-title {
    padding: 30px 0 30px 0;
  }
  .section-three-title div {
    font-size: 22px;
    font-weight: 600;
  }
  .section-three-title-1 {
    margin-left: 15px;
  }
  .section-three-title-2 {
    margin-left: 30px;
  }
  .section-three-title-3 {
    margin-left: 10px;
  }
  .card-body {
    width: 570px;
    height: 320px;
  }
  .card-title h3 {
    text-align: center;
    font-size: 18px;
  }
  .card-text p {
    font-size: 15px;
    padding: 20px;
    max-width: 380px;
  }
  .card-text, .card-title {
    padding: 10px;
  }
  .card-photo img {
    width: 280px;
    height: 270px;
  }
  .hashtags {
    justify-content: center;
    right: 10px;
  }
  .hashtags div {
    text-align: center;
    padding: 3px;
    font-size: 11px;
  }
  /*section 4*/
  .consultation-info {
    width: 315px;
    margin: 0 auto;
  }
  .section-four-title div {
    font-size: 26px;
    margin-bottom: 0;
  }
  .section-four-title-1 {
    margin-left: 0;
  }
  .section-four-title-2 {
    margin-left: 70px;
  }
  .infoblock-container {
    display: flex;
    flex-direction: column;
  }
  .infoblock-1, .infoblock-2, .infoblock-3 {
    width: 400px;
    height: 600px;
    margin: 20px auto;
  }
  .infoblock-photo, .infoblock-photo img {
    margin: 0 auto;
    width: 360px;
    height: 360px;
  }
  .price-popup {
    margin: 10px 0 10px 0;
  }
  .infoblock-title h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .popup-photo img {
    width: 350px;
    height: 350px;
  }
  .popup-title, .price-popup, .popup-list, .popup-text {
    width: 350px;
    margin: 10px auto;
  }
  .popup-title h3 {
    width: 280px;
    font-size: 18px;
    white-space: normal;
  }
  .section-four-popup-1 .button-container, .section-four-popup-2 .button-container, .section-four-popup-3 .button-container {
    width: 300px;
  }
  .section-four-popup-1 button, .section-four-popup-2 button, .section-four-popup-3 button {
    width: 300px;
    height: 35px;
  }
  /*section 5*/
  .section-five-title div {
    font-size: 32px;
  }
  .section-five-title-1, .section-five-title-2, .section-five-title-3 {
    text-align: center;
  }
  .section-five-content {
    padding: 0;
  }
  .section-five-text {
    width: 490px;
  }
  /*section 8*/
  .section-eight-title div {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  /*header*/
  .popup {
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }
  /*section 1*/
  .section-one-subtitle {
    width: 280px;
  }
  .anchor-button {
    height: 50px;
  }
  .section-one-photo img {
    width: 280px;
  }
  /*section 2*/
  .section-two-title div {
    font-size: 16px;
  }
  /*section 3*/
  .section-three-title div {
    font-size: 18px;
    margin: 0;
  }
  .card-body {
    width: 300px;
    height: 400px;
    flex-direction: column;
  }
  .card-text, .card-title {
    padding: 0;
  }
  .card-photo-container {
    width: 260px;
    margin: 0 auto;
    padding: 0;
  }
  .card-photo img {
    width: 260px;
    height: 180px;
  }
  /*section 4*/
  .section-four-title div {
    font-size: 20px;
  }
  .consultation-info,
  .popup-photo,
  .popup-title,
  .price-popup,
  .popup-list,
  .popup-text,
  .button-container-popup,
  .infoblock-title,
  .infoblock-text {
    width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .infoblock-1,
  .infoblock-2,
  .infoblock-3 {
    width: 300px;
    height: 600px;
    margin: 0 auto;
  }
  .infoblock-photo,
  .infoblock-photo img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .section-four-popupBG-1,
  .section-four-popupBG-2,
  .section-four-popupBG-3 {
    width: 100%;
  }
  .section-four-popup-1,
  .section-four-popup-2,
  .section-four-popup-3 {
    width: 320px;
    padding: 20px 0;
  }
  .popup-photo img {
    width: 280px;
    height: 280px;
  }
  .price {
    margin: 0px 0 10px 10px;
  }
  .price-popup {
    margin: 20px auto 10px;
  }
  .popup-photo {
    justify-content: center;
  }
  /*section 5*/
  .section-five-title div {
    font-size: 26px;
  }
  .section-five-photo, .section-five-photo img {
    width: 280px;
    height: 280px;
  }
  .section-five-text {
    width: 280px;
  }
  /*section 6*/
  .section-six-title div {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
    margin-left: 0;
  }
  .section-six-title-1 {
    margin-left: 0;
  }
  .section-six-title-2 {
    margin-left: 0;
  }
  .section-six-title-3 {
    margin-left: 0;
  }
  .blocks-container {
    width: 100%;
  }
  .photoblock-container-1, .photoblock-container-2, .photoblock-container-3, .photoblock-container-4 {
    justify-content: center;
  }
  /*section  7*/
  .section-seven-title div {
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
  }
  .carousel {
    grid-auto-columns: 100%;
  }
  .section-seven-container i:first-child {
    right: 280px;
  }
  .section-seven-container i:last-child {
    right: 240px;
  }
  /*section 8*/
  .section-eight-title div {
    font-size: 26px;
    margin-bottom: 0;
  }
  .tab {
    width: 290px;
  }
  .tab-content li {
    width: 200px;
    font-size: 14px;
    text-align: left;
  }
  .tab-content p {
    width: 220px;
  }
}
@media (max-width: 360px) {
  /*section 7*/
  .carousel {
    grid-auto-columns: 100%;
  }
  /*footer*/
  .footer-title-2 {
    margin-left: 50px;
  }
  .footer-wrapper {
    padding: 20px 0 20px;
  }
  .policies a {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */